<script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
<script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
<script>
    $('.ui.dropdown')
        .dropdown();

    $('.special.cards .image').dimmer({
        on: 'hover'
    });
</script>

<div id="pe" style="background-color: #2E2E2E" style="font-size: 100%"class="ui #color aqui five active item inverted menu">
    <p style="color: white"><br>Júlia Biff, Leticia dos Santos, Natália Dellandrea<br><br>Copyright© 2019 | Todos os direitos reservados<br></p><br>
</div>