<div id="menu" class="ui orange six active item inverted menu">    
    <a href="index.php" class="item">
        <img alt="" src="{{ url_for('static', filename='assets/img/logo.png') }}">
    </a>
    
    <a href="index.php" class="item">
        Home
    </a>

    <a href="cadastroRestaurante.php" class="item">
        Cadastre seu Restaurante
    </a>

    <a href="tipoComida.php" class="item">
        Comidas
    </a>

    <a href="sobre_nos.php" class="item">
        Sobre Nós
    </a>

    <a href="/login" class="item">
        <i class="user big circle icon"></i>
    </a>

</div>