<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>
        {% block titulo %}
        Home
        {% endblock %}
    </title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/rodape.css') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/SemanticUI/semantic.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/SemanticUI/components/icon.min.css') }}">
    <script src="{{ url_for('static', filename='assets/jQuery/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/SemanticUI/semantic.min.js') }}"></script>

</head>
<body>
    <div id="menu" class="ui orange six active item inverted menu">    
        <a href="index.php" class="item">
            <img alt="" src="{{ url_for('static', filename='assets/img/logo.png') }}">
        </a>
        
        <a href="index.php" class="item">
            Home
        </a>

        <a href="cadastroRestaurante.php" class="item">
            Cadastre seu Restaurante
        </a>

        <a href="tipoComida.php" class="item">
            Comidas
        </a>

        <a href="sobre_nos.php" class="item">
            Sobre Nós
        </a>

        <a href="/login" class="item">
            <i class="user big circle icon"></i>
        </a>

    </div>

{% block page_content %}

{% endblock %}



<script>
    $('.ui.dropdown')
        .dropdown();


    $('.special.cards .image').dimmer({
        on: 'hover'
    });
</script>

<div id="pe" style="background-color: #2E2E2E" style="font-size: 100%"class="ui #color aqui five active item inverted menu">
    <p style="color: white"><br>Júlia Biff, Leticia dos Santos, Natália Dellandrea<br><br>Copyright© 2019 | Todos os direitos reservados<br></p><br>
</div>
</body>
<body>
</html>