{% import "_header.html" as header %}
{% import "_footer.html" as footer %}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>
        {% block titulo %}
        Home
        {% endblock %}
    </title>

    {% block css_js %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/index.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/rodape.css') }}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/SemanticUI/semantic.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/SemanticUI/components/icon.min.css') }}">
        <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
        <script src="{{ url_for('static', filename='assets/jQuery/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/SemanticUI/semantic.min.js') }}"></script>
    {% endblock %}

</head>
<body>

    {{ header }}
    
    {% block page_content %}

    {% endblock %}


    {{ footer }}

</body>
<body>
</html>