{% extends "base.html" %}
{% import "_carousel.html" as carousel %}



{% block css_js %}
    {{ super() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/carrossel.css') }}">
{% endblock %}

{% block page_content %}

<div class="ui center aligned grid" style="margin-top: 1%">

    <div class="row">
        <div class="ui sixteen wide column">
            <h3 class="ui padded" id="pagina">Encontre Restaurantes Próximos</h3>
        </div>
    </div>
    <br><br><br>
    <br><br><br>
    
        <div class="row">
            <div class="ui ten wide column">
                <form action="">
                    <div class="two fields">
    
                        <div class="field">
                            <label>Estado</label>
                            <select class="ui dropdown">
                                <option value=""></option>
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espírito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Parnambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                            </select>
                        </div>
    <br>
                        <div class="field">
                            <label>Cidade</label>
                            <select class="ui dropdown">
                                <option value=""></option>
                                <option value="AR">Araquari</option>
                                <option value="BBS">Balneário Barra do Sul</option>
                                <option value="JLLE">Joinville</option>
                                <option value="SFS">São Francisco do Sul</option>
                            </select>
                        </div>
                    </div>
                    
                    <div id="botao">
                        <button class="ui icon button">
                            Pesquisar  
                            <i class="search icon"></i>
                        </button>
                    </div>
                </form>
            </div>
    
    
    
    
            </div>
    
    
        </div>
    </div>
    <div id="fundo">
    </div>

    {{ carousel }}
{% endblock %}


